


header {
    background-color: rgb(1, 59, 1);
    padding: 2%;
    display: flow-root;
}

#caixaLogo, #caixaNavegacao {
    background-color: black;
    height: 70px;
    width: 30%;
    color: white;
}

#caixaLogo {
    float: left;
}

#caixaNavegacao {
    float: right;
}

#conteudoPrincipal {
    background-color: black;
    padding: 1%;
}

#apresentacao {
    background-color: rgb(1, 59, 1);
    height: 500px;
    width: 100%;
}