


header {
    
    display: flow-root;
}


#caixaLogo {
    background-image: url("images/IMG_2189.PNG");
    background-size: contain; /* Ajusta o tamanho da imagem */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    background-position: center; /* Centraliza a imagem */
    width: 400px; /* Largura da caixa (ajuste conforme necessário) */
    height: 150px; /* Altura da caixa (ajuste conforme necessário) */
    float: left;
    padding-left: 1%; 
    padding: 1%;
}

#caixaNavegacao {
    background-image: url("images/IMG_2197.PNG");
    background-size: contain; /* Ajusta o tamanho da imagem */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    background-position: center; /* Centraliza a imagem */
    width: 200px; /* Largura da caixa (ajuste conforme necessário) */
    height: 100px; /* Altura da caixa (ajuste conforme necessário) */
    float: right;
    padding-right: 1%; 
    padding: 1%;
}

#conteudoPrincipal {
    background-image: url("images/Design sem nome (5).png");
 /* Ajusta o tamanho da imagem */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    background-position: center; /* Centraliza a imagem */
    width: 100%;
    height: 150%;
    
}

#apresentacao {
    
    height: 500px;
    width: 100%;
}

#subtitulo {
    font-size: 26px;
    padding-left: 20%;
    
}

.tituloSubtitulo {
    font-family: 'League Spartan', sans-serif; /* Aplica a fonte League Spartan */
    font-size: 36px; /* Ajusta o tamanho da fonte */
    font-weight: 700; /* Define o peso da fonte (opcional) */
    color: rgb(0, 0, 0); /* Cor do texto */
    float: left; /* Centraliza o texto */
    margin-top: 5px; /* Espaçamento superior */
    padding-left: 7%;
    padding-right: 90%;
}

#fotoSelfie {
    background-image: url("images/IMG_2199.PNG");
    background-repeat: no-repeat; /* Não repete a imagem */
    background-size: contain; /* Ajusta o tamanho da imagem para caber no contêiner */
    background-position: center right; /* Centraliza verticalmente e posiciona à direita */
    width: 400px; /* Ajuste conforme o tamanho desejado */
    height: 400px; /* Ajuste conforme o tamanho desejado */
    position: relative; /* Permite controle de posicionamento */
    margin-right: 60%;
    margin-left: 50%; /* Move um pouco para a direita */
    
}




